[Unit]
Description=Texas2010 Api Server
After=network.target

[Service]
Type=simple
User=texas2010
WorkingDirectory=/home/texas2010/prod-projects/api.server.texas2010.com
ExecStart=/bin/bash -c 'source /home/texas2010/.nvm/nvm.sh && node startup/prod.js'
Restart=on-failure

[Install]
WantedBy=multi-user.target
